/*SLIDER 3 LECCION 3*/
/*ventanas contenidos CON AUDIOS*/
.equipos-epp {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

/* Diseño de los botones de opciones */
.buttons_equipos_epp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 2% 0;
    align-items: center;
}

/* Estilo general para el SVG */
.buttons_equipos_epp button img {
    transition: fill 0.3s ease;
    /* Para suavizar el cambio de color */
}

/* Al hacer hover sobre el botón */
.buttons_equipos_epp button:hover img {
    filter: invert(100%) brightness(80%);
}

/* Para el botón activo */
.buttons_equipos_epp button.active_equipos_epp img {
    filter: invert(100%) brightness(200%);
}

.buttons_equipos_epp button {
    display: flex;
    padding: 12px;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    border: none;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    margin: 15px 5px;
}

.buttons_equipos_epp button.active_equipos_epp {
    background-color: #04395e;
    color: #fff;
}

/* Diseño del contenido de cada sección */
.content_equipos_epp {
    display: none;
    padding: 12px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    min-height: 65vh;
}

.content_equipos_epp.active_equipos_epp {
    display: block;
}

.content_equipos_epp img {
    width: 30%;
    margin: 0 auto;
}

.content_equipos_epp p {
    text-align: justify;
}

.content_equipos_epp img {
    width: 70%;
    margin: 0 auto;
    border-radius: 5%;
    margin-bottom: 2%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

/* Diseño de los botones de Uso Correcto y Contraindicaciones */
.buttons-switch {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.buttons-switch button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.buttons-switch button.active-switch {
    background-color: #04395e;
    color: white;
}

.buttons-switch button:hover {
    background-color: #04395e;
}


/* Diseño responsivo */
@media (min-width: 1024px) and (max-width: 1920px) {
    .buttons_equipos_epp button {
        display: flex;
        width: 100%;
        /* margin: auto; */
        padding: 10px;
        flex-direction: row;
    }
}

@media (min-width: 1920px) {
    .equipos-epp {
        display: flex;
        width: 70%;
        margin: auto;
        padding: 20px;
    }
}

@media (max-width: 600px) {
    .buttons_equipos_epp button {
        font-size: 16px;
        padding: 10px;
        margin: 5px 5px;
    }
}

@media (max-width: 768px) {
    .equipos-epp {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        padding: 1%;
    }

    .content_equipos_epp {
        padding: 2px 8px;
    }
}