/* tabs  */
.cmp_tabs {
  display: flex;
  border: solid 2px var(--fourth);
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.24);
  margin-top: 2%;
  margin-bottom: 1.5%;
  flex-direction: column;

  border-radius: .5rem;
}

.cmp_tab {
  width: 100%;
  overflow-x: auto;
  padding: 10px;
  border-bottom: 2px solid #ccc;
}

.cmp_tab ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.cmp_tab li {
  width: 100%;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background 0.3s, transform 0.2s;
  padding: 2px;
  background: white;
  min-height: 2.5rem;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.cmp_tab li.cmp_active {
  background-color: #0F172A;
  color: #fff;
  transform: scale(1.05);
}

.cmp_tab img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.cmp_contenido {
  flex: 1;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  border-radius: .5rem;
}

.cmp_img {
  max-width: 63%;
  margin-bottom: 10px;
  border-radius: .5rem
}

.cmp_desp {
  text-align: justify;
  background: #e9e9e9;
  padding: 8px;
  border-radius: 10px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .cmp_img {
    max-width: 100%;
  }

  .descripcion-sld17_estres {
    font-size: 16px;
    width: 100%;
  }


  .cmp_tab ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 3fr));
    gap: .5rem;
  }
}